:root[theme="light"]{
  --color-primary: #fff;
  --color-text: #6d6d6d;
  --color-background: #dbdbdb;
  --color-container: #b6b6b6;
  --color-component: #929292;
}

:root[theme="dark"]{
  --color-primary: #000;
  --color-text: #929292;
  --color-background: #6d6d6d;
  --color-container: #494949;
  --color-component: #242424;
}
html,body,#root{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text);
}
