:root[theme="light"]{
  --color-primary: #fff;
  --color-text: #000;
  --color-background: #fff;
  --color-container: #fff;
  --color-component: #fff;
}
:root[theme="dark"]{
  --color-primary: #000;
  --color-text: #fff;
  --color-background: #000;
  --color-container: #000;
  --color-component: #000;
}
html,body,#root{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text);
}
